.app {
  width: 300px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  flex-direction: column;

  height: 300px;
  width: 100%;

  border: 8px solid black;
}

.row {
  display: flex;
  height: 100%;
  width: 100%;

  border-bottom: 3px solid blue;
}

.row:nth-child(3n) {
  border-bottom: 8px solid black;
}

.row:last-child {
  border-bottom: none;
}

.cell {
  display: inline-flex;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  border-right: 3px solid red;
}

.cell:nth-child(3n) {
  border-right: 8px solid black;
}

.cell:last-child {
  border-right: none;
}

.cell.cell--initial {
  background-color: gray;
}

.controls {
  display: flex;
}

.controls > .control {
  /* Reset all button styling */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  border-right: 3px solid transparent;
  width: 32px;
}

.controls > .control--active {
  background-color: red;
}
